@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");

:root {
 --body-bg-color: #e5ecef;
 --theme-primary-bg-color: #FAFCFF;
 --theme-secondary-bg-color: #F6F8FC;
 --theme-color: #296FFF;
 --nav-icon-hover: var(--theme-color);
 --input-bg: #EFF2F5;
 --input-chat-color: #a2a2a2;
 --border-color: #F6F9FD;
 --icon-color: #EEEFF3;
 --send-chat-text-bg: var(--theme-color);
 --received-chat-text-bg: #ffffff;
 --clr-text-title: #7C7C7F;
 --clr-text-subtitle: #BDBEC0;
 --button-color: var(--theme-color);
 --msg-hover-bg: rgba(238, 242, 244, 0.4);
 --overlay-bg: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 65%,
  rgba(255, 255, 255, 1) 100%
 );

 /* basic colors */
  --clr-danger:#D64C4C;
  --clr-info:#2A9DF4;
  --clr-warning:#EEBA56;
  --clr-success:#3BAF6D;
 /* typography */
  --font-manrope:'Manrope sans'
  --fs-h1:6rem;
  --fs-h2:5rem;
  --fs-h3:4rem;
  --fs-h4:3rem;
  --fs-h5:2rem;
  --fs-h6:1rem;
}

[data-theme="purple"] {
 --theme-color: #9f7aea;
 --button-color: #9f7aea;
 --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme="green"] {
 --theme-color: #38b2ac;
 --button-color: #38b2ac;
 --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme="orange"] {
 --theme-color: #ed8936;
 --button-color: #ed8936;
 --button-bg-color: rgba(237, 137, 54, 0.12);
}

.dark-mode {
    --body-bg-color: #e5ecef;
    --theme-primary-bg-color: #212229;
    --theme-secondary-bg-color: #131517;
    --theme-color: #296FFF;
    --nav-icon-hover: var(--theme-color);
    --input-bg: #141619;
    --input-chat-color: #141619;
    --border-color: #1C1D22;
    --icon-color: #151618;
    --send-chat-text-bg: var(--theme-color);
    --received-chat-text-bg: #ffffff;
    --clr-text-title: #FAFAFC;
    --clr-text-subtitle: #BDBEC0;
    --button-color: var(--theme-color);
    --msg-hover-bg: rgba(238, 242, 244, 0.4);
    --overlay-bg: linear-gradient(
     to bottom,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 1) 65%,
     rgba(255, 255, 255, 1) 100%
    );
}

.blue {
 background-color: #296FFF;
}

.purple {
 background-color: #9f7aea;
}

.green {
 background-color: #38b2ac;
}

.orange {
 background-color: #ed8936;
}

* {
 outline: none;
 box-sizing: border-box;
}

img {
 max-width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: var(--body-bg-color);
 font-family: var(--font-manrope);
 height: 100vh;
}

html {
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 font-size: 62.5%;
}

ul li{
  list-style: none;
}
a{
  text-decoration: none;
}


   /* Nav */
.nav,.chat_box,.chat_info,.chat_list{
  height: 100%;
}
.nav{
  /* background-color: #131517; */
  width: 80px;
}
.chat_list{
  background-color: #1C1D22;
  flex-basis: 20%;
}
.chat_box{
  background-color: #296FFF;
  flex-grow: 1;
}
.chat_info{
  background-color: #3BAF6D;
  flex-basis: 20%;
}

.container{
  display: flex;
  height: 100%;
}